<div class="main">
    <div class="profile" >
        <div class="icon-item">
            <mat-icon >account_circle</mat-icon>
        </div>
        <div class="uname">{{userName}}</div>
    </div>
    <div (click)="gotourl('adminDashboard')" [class.selected]="url === '/adminDashboard'">Home</div>
    <div (click)="gotourl('learnerlist')" [class.selected]="url === '/learnerlist'">Learner List</div>
    <div (click)="gotourl('addLearner')" [class.selected]="url === '/addLearner'">Add Learner</div>
    <div (click)="gotourl('logout')" [class.selected]="url === 'logout'">Logout</div>
</div>
